:root {
  --main-bg-color: brown;
  --back-color: rgb(222, 252, 253); /*back*/
  --prime-color: rgb(29, 196, 202); /*prime*/
  --dark-color: rgb(6, 41, 42); /*dark*/
  --second-color: rgb(246, 29, 127); /*second*/
  --third-color: rgb(4, 255, 58); /*third*/
  --trim-color: rgb(14, 149, 143); /*trim*/
  --trim-lt-color: rgb(19, 196, 187); /*trim-lt*/
  --text-color: rgb(0, 0, 0); /*text*/
}
#color-notes{
  color: rgb(43, 48, 58); /*back*/
  color: rgb(2, 128, 144); /*prime*/
  color: rgb(15, 24, 39); /*dark*/
  color: rgb(103, 60, 79); /*second*/
  color: rgb(127, 85, 125); /*third*/
  color: rgb(119, 156, 171); /*trim*/
  color: rgb(255, 255, 255); /*text*/
}
#color-notes{
  color: rgb(43, 48, 58); /*back*/
  color: rgb(2, 128, 144); /*prime*/
  color: rgb(15, 24, 39); /*dark*/
  color: rgb(103, 60, 79); /*second*/
  color: rgb(127, 85, 125); /*third*/
  color: rgb(119, 156, 171); /*trim*/
  color: rgb(159,196,211); /*trim-lt*/
  color: rgb(255, 255, 255); /*text*/

}
body {
  font-family: 'Montserrat', 'helvetica', sans-serif;
  width: 80%;
  margin-left: 10%;
  background-color: #fff;
}

html{
  background-color: rgb(4, 255, 58);;
}
canvas{
  display: none;
/*   display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999; */
}
.center{
  text-align: center;
}

.proj{
  list-style: none;
  vertical-align: middle;
}
.head{
  padding: 16px;
  background-color: var(--back-color) !important;
  background-position: right top !important;
  background-size: 100% auto !important;
  color: var(--text-color);
}
#sayHi{
  text-align: right;
}
#sayHi a{
  margin-top: 21px;
  margin-bottom: 10.5px;
}
#divSkills{
  padding-left: 16px !important;
  background-color: var(--trim-color);
}
.inProgress{
  padding-left: 16px !important;
}
#inProgress{
  padding-left: 32px !important;
}
.footer{
  padding-left: 16px !important;
  background-color: var(--trim-color) !important;
  background-position: left bottom !important;
  background-size: 100% auto !important;
}
.footer p{
  color: #fff;
}
a{
  color: var(--second-color);
}
.lead, .lead:hover{
  color: var(--prime-color);
}
.footer .btn{
  font-size: 20px !important;
  padding: 8px !important;
  line-height: 1em;
  margin-left: 8px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
}
.total, .level{
  height: 1em;
}
.total{
  /*display: inline;*/
  background-color: var(--trim-lt-color);
  margin-bottom: 16px;
}
.level{
  background-color:  var(--trim-color);
}
#gallery{
  padding-left: 32px;
  padding-right: 32px;
}
.completed{
  padding-left: 16px !important;
}
.thumbnail{
  color: white;
  height: 15vh;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover !important;
  border:0;
  box-shadow: 0 4px 10px -2px #444;
}
.thumbnail:hover {
  border: 0;
  text-decoration: none;
  box-shadow: 0 14px 20px -7px #444;
  transform: translateY(-10px);
  transition: all .4s ease-in-out;
 }

.contentCard{
  height: 100%;
  width: 100%;
  padding: 16px;
}
.contentCard, .contentCard a{
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0);
}
.contentCard p, .contentCard a{
  padding-bottom: 8px;
}
.contentCard p:first-child{
  font-weight: bold;
}
.contentCard:hover{
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
  transition: all .4s ease-in-out;
}
.contentCard:hover a {
  color: rgba(255,255,255,1);
  transition: all .4s ease-in-out;
}

@media (max-width: 990px){
  body {
    width: 100%;
    margin-left: 0;
  }
  .thumbnail{
    height: auto;

    min-height: 15vh;

  }
  .contentCard, .contentCard a{
    color: rgba(255,255,255,1);
  }
  .contentCard{
    min-height: 15vh;
    padding: 16px;
    background-color: rgba(0,0,0,0.5);
  }
  /*.contentCard:hover{*/

  /*}*/
  /*.contentCard:hover a {*/

  /*}*/
}
