body {
  font-family: 'Montserrat', 'helvetica', sans-serif;
  width: 80%;
  margin-left: 10%;
  background-color: #fff;
}

html{
  background-color: rgb(127,85,125);
}
canvas{
  display: none;
/*   display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999; */
}
.center{
  text-align: center;
}

.proj{
  list-style: none;
  vertical-align: middle;
}
.head{
  padding: 16px;
  background-color: rgb(43,48,58) !important;
  background-position: right top !important;
  background-size: 100% auto !important;
  color: #fff;
}

#divSkills{
  padding-left: 16px !important;
  background-color: rgb(149,186,201);
}
.inProgress{
  padding-left: 16px !important;
}
#inProgress{
  padding-left: 32px !important;
}
.footer{
  padding-left: 16px !important;
  background-color: rgb(119,156,171) !important;
  background-position: left bottom !important;
  background-size: 100% auto !important;
}
.footer p{
  color: #fff;
}
a{
  color: rgb(103,60,79);
}
.lead, .lead:hover{
  color: rgb(2,128,144);
}
.footer .btn{
  font-size: 20px !important;
  padding: 8px !important;
  line-height: 1em;
  margin-left: 8px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
}
.total, .level{
  height: 1em;
}
.total{
  /*display: inline;*/
  background-color: rgb(159,196,211);
  margin-bottom: 16px;
}
.level{
  background-color:  rgb(119,156,171);
}
#gallery{
  padding-left: 32px;
  padding-right: 32px;
}
.completed{
  padding-left: 16px !important;
}
.thumbnail{
  color: white;
  /*width: 100%;*/
  /*max-width: 316px;*/
  /*margin-right: 16px !important;*/
  height: 15vh;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover !important;
  border:0;
  box-shadow: 0 4px 10px -2px #444;
}
.thumbnail:hover {
  border: 0;
  text-decoration: none;
  box-shadow: 0 14px 20px -7px #444;
  transform: translateY(-10px);
  transition: all .4s ease-in-out;
 }

.contentCard{
  height: 100%;
  width: 100%;
  padding: 16px;
}
.contentCard, .contentCard a{
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0);
}
.contentCard p, .contentCard a{
  padding-bottom: 8px;
}
.contentCard p:first-child{
  font-weight: bold;
}
.contentCard:hover{
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
  transition: all .4s ease-in-out;
}
.contentCard:hover a {
  color: rgba(255,255,255,1);
  transition: all .4s ease-in-out;
}

@media (max-width: 990px){
  body {
    width: 100%;
    margin-left: 0;
  }
  .thumbnail{
    max-width: auto;
    min-height: 15vh;
    
  }
  .contentCard, .contentCard a{
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
  }
  /*.contentCard:hover{*/
    
  /*}*/
  /*.contentCard:hover a {*/
    
  /*}*/
}