body {
  font-family: 'Montserrat', 'helvetica', sans-serif;
  width: 80%;
/*   height:100vh; */
  margin-left: 10%;
  background-color: #fff;
}
html{
  background-color: rgb(127,85,125);
}
canvas{
  display: none;
/*   display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999; */
}
.center{
  text-align: center;
}
.thumbnail{
  color: white;
  width: 100%;
  height: 15vh;
  padding-left: 6px;
  padding-right: 6px;
  background-repeat: no-repeat;
  background-position: right;
  border: 0;
  box-shadow: 0 4px 10px -2px #444;
}
.thumbnail:hover {
  text-decoration: none;
  color: white;
  border: 0;
  box-shadow: 0 14px 20px -7px #444;
  transform: translateY(-10px);
  transition: all .4s ease-in-out;
 }
.thumbnail p{
  margin: 0;
}
.proj{
  list-style: none;
  vertical-align: middle;
}
.head{
  padding: 16px;
  background-color: rgb(43,48,58) !important;
  background-position: right top !important;
  background-size: contain !important;
  color: #fff;
}
#gallery{
  padding-left: 32px;
  padding-right: 32px;
}
.completed{
  padding-left: 16px !important;
}
#skills{
  padding-left: 16px !important;
  background-color: rgb(119,156,171);
}
.inProgress{
  padding-left: 16px !important;
}
#inProgress{
  padding-left: 32px !important;
}
.footer{
  padding-left: 16px !important;
  background-color: rgb(119,156,171) !important;
  background-position: left bottom !important;
  background-size: contain !important;
}
.footer p{
  color: #fff;
}
a{
  color: rgb(103,60,79);
}
.lead, .lead:hover{
  color: rgb(2,128,144);
}
.footer .btn{
  font-size: 20px !important;
  padding: 8px !important;
  line-height: 1em;
  margin-left: 8px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
}