{% if site.author.stackoverflow or site.author.programmingSkills %}
    <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h3>
    {% if site.author.stackoverflow %}
        <div class="grid-block">
        <p><a href="//stackoverflow.com/users/{{ site.author.stackoverflow }}"><img src="//stackoverflow.com/users/flair/{{ site.author.stackoverflow }}.png"></a></p>
        <ul class="list-unstyled list-stackoverflow" id="stackoverflow_questions_and_answers"></ul>
        <script type="text/javascript" src="{{site.url}}/assets/js/stackoverflow-questions.js"></script>
        </div>
    {% endif %}
{% endif %}
